<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/app}">

<div layout:fragment="content">
    <div class="pagetitle">
        <h1>Mascota</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                <li class="breadcrumb-item">Mascota</li>
                <li class="breadcrumb-item active">Lista Mascotas</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img th:src="@{'/uploads/mascota/'+${mascotaDto.imagen}}" alt="Profile" class="rounded-circle">
                        <h2 th:text="${mascotaDto.getNombre()}">Kevin Anderson</h2>


                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Vista General</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link btnHistorial" th:data-id="${mascotaDto.id}" data-bs-toggle="tab" data-bs-target="#profile-edit">Historial</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">Profile Details</h5>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Nombre</div>
                                    <div class="col-lg-9 col-md-8" th:text="${mascotaDto.getNombre()}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Tipo</div>
                                    <div class="col-lg-9 col-md-8" th:text="${mascotaDto.getTipo()}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Raza</div>
                                    <div class="col-lg-9 col-md-8" th:text="${mascotaDto.getRaza()}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Sexo</div>
                                    <div class="col-lg-9 col-md-8" th:text="${#strings.equals(mascotaDto.getSexo(), 'H') ? 'Hembra' : 'Macho'}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Fecha</div>
                                    <div class="col-lg-9 col-md-8" th:text="${mascotaDto.getFecha_nacimiento_string()}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Peso</div>
                                    <div class="col-lg-9 col-md-8" th:text="${#strings.equals(mascotaDto.getEsterilizado(), 'S') ? 'Si' : 'No'}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Estado</div>
                                    <div class="col-lg-9 col-md-8" th:text="${#strings.equals(mascotaDto.getEstado(), 'A') ? 'Activo' : 'Fallecido'}"></div>
                                </div>

                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <div class="contenedor-cards"></div>

                            </div>



                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
<div layout:fragment="script">
    <script type="text/javascript">

        $('.btnHistorial').click(function (){
            $('.contenedor-cards').html('');
            let val_id = $(this).data('id');
            let url = "/api/citas/"+ val_id;
            $.get(url, function (res){
                console.log(res)
                if (res.length  > 0){
                    res.forEach(function(dato) {
                        if (dato.estado == 'P'){
                            var card = '<div class="card">';
                        }else if (dato.estado == 'T'){
                            var card = '<div class="card">';
                        }else{
                            var card = '<div class="card">';
                        }
                        card += '<div class="card-body">';
                        card += '<h5 class="card-title">' + dato.contexto + '</h5>';
                        card += '<p class="card-text">' + dato.detalles + '</p>';
                        card += '<p class="card-text">' + dato.fecha_cita_string + '</p>';
                        if (dato.estado == 'T'){
                            card += '<a href="/clientes/mascotas/cita/'+dato.id+'"><button class="btn btn-info text-center" data-id="'+ dato.id+'">Ver Cita</button></a>';
                        }

                        card += '</div>';
                        card += '</div>';

                        // Agregar la card al contenedor deseado
                        $('.contenedor-cards').append(card);
                    });
                }else {
                    let html = `<p class="text-center text-secondary"> No hay registros en su historial.</p>`
                }



            });
        });
    </script>
</div>
</html>